<div class="login col-6 offset-3">
    <h3>Registrarse</h3>
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
    
        <div class="form-group">
            <label for="email">Correo:</label>
            <input type="text" class="form-control" placeholder="Ingrese su Correo Eléctronico" formControlName="email">
        </div>
  
        <div class="form-group">
            <label for="pass">Contraseña:</label>
            <input type="text" class="form-control" placeholder="Ingrese su Contraseña" formControlName="pass">
        </div>
  
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" [disabled]="!registroForm.valid">Registrarse</button>
        </div>
        <a [routerLink]="['/account/login']">Iniciar Sesión</a>
      </form>
  </div>

  