<div class="container-fluid d-flex h-100 flex-column">
    <div class="row h-100">
        <div class="col contenido">
            <h1>ABOUT US</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam consequatur, quidem sunt, delectus ipsa quisquam, enim iusto vero quia officia odio quas. Maxime eligendi vero nam tenetur fugit repudiandae eaque?
            </p>
            <button class="btn btn-outline-dark" (click)="goTo('/secure/principal')"> Ir a Principal</button>
            <button class="btn btn-outline-dark ml-3" (click)="goTo('/account/login')"> Iniciar Sesión</button>
        </div>
    </div>

</div>