.lista-menu{
    list-style: none;
    margin-left: 10px;
    padding: 0;
}

.lista-menu li a{
    color: white;
    text-decoration: none;
    padding-left: 0;
}

.lista-menu li a:hover{
    background-color: lightseagreen;
}

h5{
    padding-top: 30px;
    font-weight: normal;
}

h4, h5{
    padding-left: 10px;
    color: white;
}

.menu{
    height: 100vh;
}

.divBotones{
    position: absolute;    
    bottom: 15%;
}

button{
    width: 180px;
}

.btnMenu{
    color: white;
    border: 1px solid white;
    border-radius: 0px;
    margin-top: 10px;
}

.btnMenu:hover{
    background-color: cadetblue;
}