<div class="container-fluid">
    <div class="row">
        <div class="col-3 bg-primary menu">
            <h5>Bienvenido</h5>
            <h4>Josué Barrientos</h4>
            <ul class="lista-menu">
                <li>
                    <a class="nav-link" [routerLink]="['/secure','element', item.nombre]" routerLinkActive="text-bold" *ngFor="let item of (elementos$| async)">{{item.nombre}}</a>
                </li>
            </ul>
            <!-- <nav class="nav flex-column pt-3 height-75" *ngIf="elementos$">
                
            </nav> -->
            <nav class="nav flex-column height-75" *ngIf="!elementos$">
                <span class="nav-link"> <i class="fa fa-info-circle" aria-hidden="true"> </i> No hay items</span>
            </nav>

            <div class="divBotones">
                    <button class="btn btnMenu" (click)="goTo('/about-us')">About Us</button>
                    <button class="btn btnMenu" (click)="cerrarSesion()">Log Out</button>
            </div>
        </div>
        <!-- <div class="col-4 bg-primary">
            <button class="btn btn-outline-dark" (click)="goTo('/secure/element/triangle')">Triangle</button>
            <button class="btn btn-outline-dark" (click)="goTo('/secure/element/square')">Square</button>
            <button class="btn btn-outline-dark" (click)="goTo('/about-us')">About Us</button>
        </div> -->
        <div class="col-9 contenedor">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>